@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root { 
    --cor1: #756596;
    --cor2: #CDCDE0;
    --cor3: #6A725D;
    --cor4: #DAF2EA;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Evita overflow horizontal */
}


html {
    min-width: 360px; /* Trava a largura mínima da tela */
    width: 100%;
    overflow-x: hidden; /* Evita overflow horizontal */
}

header {
    background-image: linear-gradient(to right,white, #756596a9 ); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.whatsapp-button {
    position: fixed;
    bottom: 50px;  /* Adjusted to accommodate text below */
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #25D366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
}

.whatsapp-button:hover {
    transform: scale(1.1);
}

.whatsapp-button img {
    width: 35px;
    height: 35px;
}

.whatsapp-text {
    position: fixed;
    bottom: 20px;  /* Adjusted to match the bottom of the button */
    right: 20px;
    font-size: 0.8em;
    font-weight: bold;
    color: black;
    text-align: center;
    z-index: 1000;
}

.mapa {
    color: #756596;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

img.logo {
    width: 100px;
    height: 80px;
}

a {
    color: #756596;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 1s;
    text-transform: uppercase;
}

.sombra:hover {
    background-color: var(--cor2);
}

.saibamais:hover {
    color: green;
}

.logo:hover {
    background-color: transparent;
}

ul {
    list-style: none;
}

nav {
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 1400px;
}

main {
    margin: auto;
}

.apresentacao {
    max-width: 1200px;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ajusta o espaçamento entre a imagem e o texto */
    margin: auto;
    padding: 20px; /* Adiciona espaçamento ao redor do contêiner */
    box-sizing: border-box; /* Inclui padding na largura total */
}

.apresentacao > img {
    width: 40vh;
    height: 40vh;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px; /* Adiciona espaçamento à direita da imagem */
}

.apresentacao .texto {
    max-width: calc(100% - 40vh - 40px); /* Ajusta a largura máxima do texto com base no espaço restante */
    flex: 1;
}

.apresentacao h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 50px;
}

.apresentacao h2 {
    font-size: 30px;
    text-align: center;
    color: #756596d3;
}

.apresentacao p {
    margin: 0;
    padding: 0;
}


.carousel-container {
    max-width: 1200px;
    width: 100%;
    height: 80vh; /* Definindo uma altura fixa para o contêiner */
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: auto;
    position: relative;
}

.carousel {
    max-width: 1200px;
    width: 100%;
    height: 100%; /* Garantir que o carrossel ocupe toda a altura do contêiner */
    align-items: center;
    margin: auto;
    overflow: hidden; /* Esconder partes fora da visualização */
    position: relative;
}

.carousel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%; 
    height: 100%; /* Garantir que o contêiner das imagens ocupe toda a altura do carrossel */
}

.carousel-slides .slide {
    position: relative;
    width: 100%; /* Cada slide ocupa 100% da largura do carrossel */
    flex-shrink: 0;
    height: 100%;
}

.carousel-slides img {
    width: 100%;
    height: 100%; /* Ajuste para cobrir toda a altura do slide */
    object-fit: contain; /* Mantém a proporção e corta a imagem conforme necessário */
    display: block;
    margin: auto;
}

.carousel-slides .caption {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
    background-color: #756596;
    color: white;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
}

/* --cor1: #756596;
    --cor2: #CDCDE0;
    --cor3: #6A725D;
    --cor4: #DAF2EA;*/

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}


h1 {
    text-align: center;
    color: #756596;
}

h2 {
    font-size: 2rem;
    color: var(--cor3);
}

p {
    text-align: justify;
}

h3 {
    text-align: center;
    margin-bottom: 0;
}

.titulo {
    background-color: #6a725d83;
    margin-top: 50px;
    margin-bottom: 50px;
}

.titulo > div {
    max-width: 1400px;
    width: 60%;
    margin: auto;
    padding: 20px;
    font-size: 1.8em;
    line-height: 1.8em;
}

.titulo2 > p {
    color: white;
}

.titulo2 {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 0.5s linear forwards;
}

.titulo3 {
    background-color: #DAF2EA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo3 > div {
    max-width: 1400px;
    width: 60%;
    margin: auto;
    padding: 20px;
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: center;
}

.titulo3 > div p {
    text-align: center;
}

@keyframes showContent {
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.blog-post {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 50px auto;
    max-width: 1200px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
}

.blog-image {
    flex: 1;
    margin-right: 20px;
}

.blog-image img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.blog-content {
    flex: 2;
}

.blog-content > h3 {
    margin-top: 0;
    text-align: left;
    font-size: 1.5em;
}

.blog-content > p {
    line-height: 2em;
    text-align: justify;
}

.link:hover {
    text-decoration: underline;
}

.link {
    color: blue;
}

.acesso:hover {
    text-decoration: underline;
}

footer {
    background-color: #756596;
    color: white;
    text-align: center;
    padding: 10px;
}

footer > a:hover {
    background-color: transparent;
    color: blue;
}

footer > a {
    color: white;
    padding: 0px;
    text-decoration: none;
    font-weight: normal;
    border-radius: 0px;
    transition-duration: 0s;
    text-transform: none;
}

.especialidades {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 1400px;
    line-height: 2em;
    width: 80%;
}

section.imag {
    justify-content: center;
    align-items: center;
    position: relative;
    height: 40vh;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.418);
    text-align: center;
    padding: 20px;
}

section.imag h2,
section.imag p,
section.imag a,
section.imag h3 {
    z-index: 1;
    position: relative;
    max-width: 1400px;
    margin: auto;
    font-size: 1.5em;
    line-height: 2em;
    width: 60%;
    font-weight: 600;
}

section.imag h2 {
    font-size: 2.5em;
}

section.imag a {
    color: #6c4baf;
}

section.imag::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9ba591c5; /* Adjust the opacity as needed */
    z-index: 0;
}

section.imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 40vh;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.308);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.418);
}

section.imagem > h2 {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    background-color: transparent;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
    font-size: 50px;
    z-index: 1;
    border-radius: 10px;
    color: white;
    max-width: 1400px;
    text-align: center;
}

section#img01 {
    background-image: url(../imagens/flor.jpg);
    background-position: right center;
}

section#img02 {
    background-image: url(../imagens/essencia.jpg);
    background-position: right center;
}

section#img04 {
    background-image: url(../imagens/alimentos.jpg);
    background-position: right center;
}

section#img05 {
    background-image: url(../imagens/enteroterapia2.jpg);
    background-position: right center;
}

section#img06 {
    background-image: url(../imagens/enteroterapia3.jpg);
    background-position: right center;
}

section#img07 {
    background-image: url(imagens/auriculoterapia2.jpg);
    background-position: right center;
}

section#img08 {
    background-image: url(../imagens/auriculoterapia4.jpg);
    background-position: center;
}

section#img09 {
    background-image: url(../imagens/nutricao_online.jpg);
    background-position: center;
}

section#img10 {
    background-image: url(../imagens/atendimento.png);
    background-position: center;
}

.section-servicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    margin-bottom: 2rem;
    max-width: 1400px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    transition-duration: 2s;
}

.servico {
    flex: 1 1 calc(33.333% - 2%);
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 4rem;
    margin-bottom: 4rem;
    box-shadow: 05px 05px 10px rgba(0, 0, 0, 0.219);
    transition-duration: 2s;
    max-width: 600px;
}

.servico > h2 {
    text-align: center;
}

.servico > p {
    padding: 50px;
    line-height: 1.5em;
}

.servico img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.servico > p,
h2 {
    margin: 10px;
}

.servico:hover {
    transform: scale(1.05);
}

.blog {
    background-color: #DAF2EA;
    margin-top: 50px;
    margin-bottom: 50px;
}

.blog > div {
    max-width: 1400px;
    width: 60%;
    margin: auto;
    padding: 20px;
    font-size: 1.8em;
    line-height: 1.8em;
}

.centralizado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 1400px;
    margin: auto;
    margin-bottom: 100px;
}

.sobre-joyce .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sobre-joyce .text-content {
    width: 50%;
    text-align: justify;
}

.sobre-joyce .slider-wrapper {
    width: 30%;
    position: relative;
    top: 25px;
    right: 0;
}

.sobre-joyce .slider img {
    width: 100%;
    height: auto;
}

.frase {
    text-align: center;
    max-width: 1400px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: "Dancing Script", cursive;
}

.s-m {
    margin: auto;
    max-width: 1400px;
    width: 60%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.s-m a {
    display: inline-flex;
    width: 50px;
    height: 50px;
    background-color: #6c4baf;
    color: white;
    margin: 0 6px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 20px;
}

.s-m a:hover {
    background: #63ceaa;
}

.s-m a i {
    transition: 0.4s all;
}

.s-m a:hover > i {
    transform: scale(1.6) rotate(25deg);
}

@media screen and (max-width: 768px) {
    .carousel-slides img {
        height: auto;
    }

    button.prev, button.next {
        padding: 5px;
    }
    
    .section-servicos {
        display: block;
    }

    iframe {
        width: 50vh;
        margin: 2em;
    }

    .titulo {
        font-size: 10px;
    }

    .titulo2 {
        margin: 0px;
        padding: 02px;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .menu {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        padding: 0;
    }

    nav {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .logo {
        margin-bottom: 1rem;
    }

    .sobre-joyce .content-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .sobre-joyce .text-content, .sobre-joyce .slider-wrapper {
        width: 100%;
    }

    .sobre-joyce .text-content {
        order: 1;
    }

    .sobre-joyce .slider-wrapper {
        order: 2;
        margin-top: 20px;
    }

    .titulo3 {
        font-size: 0.8em;
        text-align: center;
    
    }
    
}
